@define-color foreground {
        {
        foreground
    }
}

;

@define-color background {
        {
        background
    }
}

;

@define-color cursor {
        {
        cursor
    }
}

;

@define-color color0 {
        {
        color0
    }
}

;

@define-color color1 {
        {
        color1
    }
}

;

@define-color color2 {
        {
        color2
    }
}

;

@define-color color3 {
        {
        color3
    }
}

;

@define-color color4 {
        {
        color4
    }
}

;

@define-color color5 {
        {
        color5
    }
}

;

@define-color color6 {
        {
        color6
    }
}

;

@define-color color7 {
        {
        color7
    }
}

;

@define-color color8 {
        {
        color8
    }
}

;

@define-color color9 {
        {
        color9
    }
}

;

@define-color color10 {
        {
        color10
    }
}

;

@define-color color11 {
        {
        color11
    }
}

;

@define-color color12 {
        {
        color12
    }
}

;

@define-color color13 {
        {
        color13
    }
}

;

@define-color color14 {
        {
        color14
    }
}

;

@define-color color15 {
        {
        color15
    }
}

;

@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @background;
@define-color theme_selected_bg_color @color4;
@define-color theme_selected_fg_color @background;

@define-color borders @color4;
@define-color unfocused_borders @color1;

@define-color warning_color @color3;
@define-color error_color @color1;
@define-color success_color @color2;

/* Apply to specific Thunar elements if general overrides miss */
.thunar,
ThunarWindow {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

/* Sidebar and Main View */
.sidebar {
    background-color: @theme_bg_color;
}

.view {
    background-color: @theme_base_color;
    color: @theme_text_color;
}