* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #c1c7ca;
}

#workspaces button {
    padding: 5px;
    color: #878b8d;
    margin-right: 5px;
}

#workspaces button.active {
    color: #c1c7ca;
}

#workspaces button.focused {
    color: #c1c7ca;
    background: #0d5579;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #060A0B;
    background: #1263a5;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #c1c7ca;
    color: #060A0B;
    border-radius: 10px;
}

#custom-window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #060A0B;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #060A0B;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#custom-window {
    background: #060A0B;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #c1c7ca;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #c1c7ca;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #c1c7ca;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #c1c7ca;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #c1c7ca;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-recording {
    color: #0d5579;
    background: #060A0B;
    border-radius: 10px;
    padding: 0 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
}

#custom-moon {
    color: #c1c7ca;
    background: #060A0B;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-left: 5px;
}
#custom-pomodoro {
    background: #fbfcfd;
    color: #8F7E70;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-left: 5px;
}

#custom-pomodoro.work {
    background: #fbfcfd;
    color: #e79eb0;
}

#custom-pomodoro.break {
    background: #fbfcfd;
    color: #95abe4;
}

#custom-pomodoro.paused {
    background: #fbfcfd;
    color: #8b8e91;
}
