* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #8F7E70;
}

#workspaces button {
    padding: 5px;
    color: #8b8e91;
    margin-right: 5px;
}

#workspaces button.active {
    color: #8F7E70;
}

#workspaces button.focused {
    color: #8F7E70;
    background: #e69eb6;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #fbfcfd;
    background: #a5c0e8;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #8F7E70;
    color: #fbfcfd;
    border-radius: 10px;
}

#custom-window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #fbfcfd;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #fbfcfd;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#custom-window {
    background: #fbfcfd;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #8F7E70;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #8F7E70;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #8F7E70;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #8F7E70;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #8F7E70;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-recording {
    color: #e69eb6;
    background: #fbfcfd;
    border-radius: 10px;
    padding: 0 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 14px;
}

#custom-moon {
    color: #8F7E70;
    background: #fbfcfd;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-left: 5px;
}
